@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    height: 100%;
}
body{
    background-image: linear-gradient(to right top, #c225d7, #ff009a, #ff5562, #ff953c, #f2c941);
    padding: 0;
    margin: 0;
}
nav{
    background: #e1e1e1;
    padding: 15px;
    margin: 20px;
    height: 85px;
    border-radius: 7px;
    font-family: 'Almarai', sans-serif;
}
nav .navbar-brand{
    font-family: 'Arvo', serif;
    color: #D72551 !important;
}
nav .nav-link{
    font-family: 'Almarai', sans-serif;
    color: rgb(101, 43, 216) !important;
    font-size: 20px !important;
    margin-left: 15px;
}
.result{
    background: #FFF;
    width: 50%;
    padding: 15px;
    border-radius: 7px;
    margin-top: 125px;
}
.result img{
    width: 100%;
    display: block;
}
.result button{
    width: 100%;
    font-family: 'Almarai', sans-serif;
    margin: 0;
    margin-top: 10px;
    font-size: 25px;
}
.result p{
    margin-top: 15px;
    font-family: 'Almarai', sans-serif;
    color: #ff009a;
}

@media(max-width: 786px){
    nav{
        height: 55px;
    }
    .result{
        width: 90%;
    }
    .result button{
        font-size: 18px;
    }
}